.Home {
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 55px;
    box-sizing: border-box;
    
}

.Home iframe {
    width: 850px;
    height: 500px;
   
}

.Home p{
    font-size: 1.7em;
	
}

.Shoes-Container {
    margin-top: 100px;
    display: flex;
    gap: 1em;
    

}
